
/* Changer couleurs des colonnes de la grille */
.pink {
    background-color: #f5989d;
}

.blue {
    background-color: #615f7d;
}

.green {
    background-color: #09a298;
}

body{
    font-family:'Open Sans', sans-serif;
    background-image:url(../img/Background01.jpg);
    background-repeat:no-repeat;
    
}

h1{
    color:#ffffff;
}

/********************************** HEADER *************************/
header{
   
}

#head{
    display:flex;
    margin-left:200px;
}

header img{
    margin-top:18px;
    margin-left:15px;
}

header h2{
    margin-top:5px;
    margin-left:10px;
}


/*********************************** MASTHEAD **********************/

#Masthead{
    margin-left:200px;
    margin-top:100px;
}

#text_masthead{
    padding-top:350px;
}

#Masthead p{
    color:#ffffff;
}

#Masthead a{
    color:#ffffff;
}

#Masthead a:hover{
    color:rgb(0, 0, 0);
    font-weight: bold;
}

#iphone{
    width:1600px;
    height:1200px;
    margin-left:5px;
    margin-top:-500px;

}


/******************************* DESCRIPTION TEXT  *********************/

#Text_1{
    margin-top:-200px;
    margin-left:200px;
    margin-bottom:100px;
}

#text_desc{
    display:flex;
    flex-direction: 2 column;
}

.text_gauche{
    padding-top:10px;
}

.text_droite{
    padding-top:170px;
}

/*********************************** BOX GRID **************************************/

#Boxgrid{
    margin-bottom:100px;
}

#Boxgrid2{
    margin-left:200px;
    display:flex;
}

.box{
    width:250px;
    height:300px;
    padding-left:40px;
    padding-top:40px;
    color:#ffffff;
}


/************************************* 4 colonnes text ****************************/

#FourCol{
    margin-left:180px;
}

#Col4{
    display:flex;
    margin-top:50px;
}

.textCol{
    display:flex;
    flex-direction: column;
    width:200px;
    height:300px;
    line-height: 2em;
}


/************************************* BIG PICTURE 2 ***************************/

#BigPic2{
    background-image:url(../img/Background02.jpg);
    background-repeat:no-repeat;
    height:1080px;
}

.textBigPic2{
    padding-top:700px;
    margin-left:200px;
    width:500px;
    height:500px;
}

.white{
    color:#ffffff;
}


/************************************* COLOUR INFO *********************************/

#ColourInfo{
    background-color:#82ca9c;
    padding-left:200px;
    padding-top:150px;
    padding-bottom:150px;
}

#Reasons{
    display:flex;
}

.titleReasons{
    padding-bottom:50px;
    color:#ffffff;
}

.textColInfo{
    display:flex;
    flex-direction: column;
    color:#ffffff;
    margin-right:10px;
    line-height: 2em;
}

#ColourInfo p{
    width:350px;
    height:200px;
    font-size:0.8em;
    
}


/************************************* Buying part *******************************/


/************************************* FOOTER *************************************/

footer{
    background-color:#192431;
    height:700px;
}

#footerText{
    display:flex;
    padding-top:150px;
}

#Positionnement{
    width:900px;
    height:500px;
    padding-left: 200px;
}

#PartieGauche{
    display:flex;
    justify-content: space-between;
    width:500px;
    height:400px;
}

#GetInTouch{
    display:flex;
    flex-direction: column;
    width:1200px;
    height:180px;
    margin-bottom:10px;
}

#StayInTouch{
   
}

#StayInTouch input{
    background-color:#ffffff;
    width:400px;
    height:50px;
    border:none;
    border-radius:0.2vmin 0vmin 0vmin 0.2vmin;
}

#StayInTouch button{
    background-color:#82ca9c;
    width:60px;
    height:50px;
    border:none;
    border-radius:0.2vmin 0.2vmin 0.2vmin 0.2vmin;
    margin-left:-5px;

}

#StayInTouch i{
    color:#192431;
}

#element{
    padding-top:13px;
}

#reality{
    width:400px;
    height:50px;
    color:#535353;
    font-size:0.8em;
}

/************************************* Medias queries ******************************/


/*xs*/
@media (max-width: 575.98px){
    .container{
        max-width:575.96px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/*sm*/
@media (min-width:576px) and (max-width: 767.98px){
    .container{
        max-width:767.96px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/*md*/
@media (min-width:768px) and (max-width: 891.98px){
    .container{
        max-width:891.96px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/*lg*/
@media (min-width:892px) and (max-width: 1199.98px){

    .container{
        max-width:1199.96px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

}

/*xl*/
@media (min-width:1200px) and (max-width: 2399.98px){
    .container{
        max-width:2399.96px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}






}